label {
  display: block;
  margin-top: 10px;
}
.main{
  padding-top: 3%;
}

.jumbotron {
  margin-bottom: 2rem;
}
.inform {
  margin: 1rem 0 2rem;
  padding: 2rem;
}

/*
.bg-dark {
    background-color: #145653!important;
}
*/
.dropdown-menu{
  background: #343a40;
}
/*
.navbar-expand-lg .navbar-collaps{
  justify-content: space-between!important;
}
*/
.navbar-nav {
  cursor: default;
  margin: 0 15px;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  user-select: none;
  align-items: center;
}
.nav-item {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}
.navbar-expand {
  justify-content: space-between;
  flex-wrap: wrap;
}

nav a {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  transition: 0.3s;
}
nav a:hover {
  color: #b8b8b8;
}

.chart {
  height: 20rem;
}
