.projectlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.chapter{
    margin: auto;
}
.card{
    display: flex;
    flex-direction: column;
}

.projectadd {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    
}


.head, .icon {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;    
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;    
    margin-top: 0.5rem;
}


.icon:visited,.icon:active,.icon:hover  { 
    color: #000000; 
    text-decoration: none; 
} 

.button-delete, .button-add{
    outline: none !important;
    border: 0 !important;    
}

.head>.icon>.button-delete>img, .head>.icon>.button-add>img{
    width: 40%;
}
.title>.button-delete>img, .title>.button-add>img{
    width: 80%;
}
.head>.icon>img {
    width: 10%;
}


.taskpassive{
    background-color: violet;

}